name: OwlMail Lint

on:
  push:
    branches:
      - "*"
      - "!profiler*"
jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Fetch Secrets data
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $DATA > $PWD/app/google-services.json

      - name: Lint Check
        run: ./gradlew lintDebug

      - uses: actions/upload-artifact@v3
        with:
          name: Lint-Report
          path: app/build/reports/lint-results-debug.html