name: OwlMail Build Profiler

on:
  push:
    branches:
      - "profiler*"
jobs:
  profiler:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Fetch Secrets data
        env:
          DATA: ${{ secrets.GOOGLE_SERVICES }}
        run: echo $DATA > $PWD/app/google-services.json

      - name: Install Gradle Profiler
        run: |
          curl -s "https://get.sdkman.io" | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk install gradleprofiler
          gradle-profiler --benchmark --scenario-file scenarios.txt --warmups 1 --iteration 1

      - uses: actions/upload-artifact@v3
        with:
          name: benchmark
          path: profile-out/